#accordion-section-it_company_pro_link .accordion-section-title{
  background: #27bfff;
  color: #fff !important;
}
#accordion-section-it_company_pro_link .accordion-section-title:hover{
 background:  #27bfff !important;
 color: #fff !important;
}
