name: Deploy WordPress

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies (if needed)
        run: |
          # Add commands to install any dependencies (e.g., Composer, npm)
          # Example: npm install

      - name: Check SSH Private Key File
        run: |
          if [ -f ${{ secrets.SSH_PRIVATE_KEY_PATH }} ]; then
            echo "SSH private key file exists."
          else
            echo "SSH private key file does not exist."
            exit 1  # Exit with an error if the file does not exist
          fi
      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_PATH }}
        
      #- name: Deploy to VPS
        #run: |
          # Define the destination directory on your VPS where you want to deploy WordPress
          #destination_dir="/var/www/html/wordpress"  # Replace with the actual path
          #ssh -o StrictHostKeyChecking=no -i ${{ secrets.SSH_PRIVATE_KEY_PATH }} ${{ secrets.USERNAME }}@${{ secrets.HOST }} 
          #'cd $destination_dir && git status'
          # Uncomment and customize SCP or SFTP command as needed
          # scp -i ${{ secrets.SSH_PRIVATE_KEY_PATH }} -r ./* ${{ secrets.USERNAME }}@${{ secrets.HOST }}:$destination_dir/
          # Uncomment and customize service restart commands if needed
          # ssh ${{ secrets.USERNAME }}@${{ secrets.HOST }} 'sudo systemctl restart nginx'

    env:
      SSH_PRIVATE_KEY_PATH: ${{ secrets.SSH_PRIVATE_KEY_PATH }}
      USERNAME: ${{ secrets.USERNAME }}
      HOST: ${{ secrets.HOST }}
